@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  text-shadow: 2px 0px 1px rgb(255, 255, 255);
}

#textoGsapQueijo3d {
  opacity: 0;
  transform: translateX(-200%);
}

#linhaProdutos {
  opacity: 0;
  transform: translateX(-200%);
}

#queijoMussarela3D {
  opacity: 0;
  transform: translateX(200%);
}

#leiteIntegralScroll {
  opacity: 0;
  transform: translateX(-200%);
}

#leitedesnatScroll {
  opacity: 0;
  transform: translateX(-200%);
}

#leitezeroScroll {
  opacity: 0;
  transform: translateX(-200%);
}

/*suavizador de scrolls*/
#textoGsapQueijo3d,
#linhaProdutos,
#queijoMussarela3D,
#leiteIntegralScroll,
#leitedesnatScroll,
#leitezeroScroll {
  will-change: transform, opacity;
}

#headerSlider {
  height: calc(100vh- 2.75rem);
}
