@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  text-shadow: 2px 0px 1px rgb(255, 255, 255);
}

#textoGsapQueijo3d,
#linhaProdutos {
  opacity: 0;
  transform: translateX(-200%);
}
